.myfont {
    font-family: Helvetica, sans-serif;
    font-size: 1.5vw;
    padding: 20px;
    border-radius: 18px;
    border: none;
    background-color: #ff3333;
    font-weight: bold;
    width: 60%;
    margin-bottom: 2%;
    display:block;
}